{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Perfil</title>
  </head>
  <body>
    <!DOCTYPE html>
<html lang="es">
<head  >
  <title>Bootstrap Website Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head >
<body style="background-image: url({% static 'img/fondo_1.jpg' %}); background-size: cover; background-attachment: fixed">

<div class="jumbotron text-center" style="background-image: url({% static 'img/panoramica1.jpg' %});margin-bottom:0">
  <h1>BIENVENIDO: {{request.user.username}} </h1>
  <p>Gestiona tus permisos de circulación</p> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://127.0.0.1:8000/algo/home">Salir</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:8000/algo/solicitud">Solicitar Permiso</a></li>
        <li><a href="http://127.0.0.1:8000/algo/estado">Ver estado del permiso</a></li>
        <li><a href="http://127.0.0.1:8000/algo/historial">Historial</a></li>
      </ul>
    </div>
  </div>
</nav>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Tipo-Permiso</th>
      <th scope="col">Aprobacion</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">19/04/2020</th>
      <td>Caminata</td>
      <td>Denegada</td>
      <td>Siolicito salir a caminar </td>
    </tr>
    <tr>
      <th scope="row">19/05/2020</th>
      <td>Compras</td>
      <td>Aprobada</td>
      <td>Compras semanales</td>
    </tr>
    <tr>
      <th scope="row">05/06/2020</th>
      <td>Viaje</td>
      <td>Denegada</td>
      <td>Viaje de urgencia</td>
    </tr>
  </tbody>
</table>


</body>
</html>
</html>
<style >
.tabla{
            width: 100%;
            height: 5%;
            float: left;
            text-align: left;}

</style>