{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-image: url({% static 'img/fondo.jpg' %}); background-size: cover; background-attachment: fixed">
		<div class="row content" style="width: 100%;">
			<div class="box row">
				<div class="row" style="text-align: center">
					<a href="#"><img src="{% static 'img/logo.png' %}" style="width: 70%; height: 50%; position: relative; float: left; left: 15%"></a>
				</div>
				<div class="row" style="width: 100%; height: 50%;">
					<form class="row" method="POST" action="." style="width: 100%; height: 100%; position: relative; float: left;"> {% csrf_token %}
							{{form.as_p}}
							<input class="submit row" type="submit" name="submit" value="iniciar sesión">
					</form>
					<input class="crearCuenta row" type="submit" name="crearCuenta" value="-crear cuenta-">			
				</div>
			</div>
		</div>

</body>
</html>