{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    {% block title %}
    <title>Perfil</title>
    {% endblock %}
  </head>
  <body>
    <!DOCTYPE html>
<html lang="es">
<head  >
  <title>Perfil de usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head >
<body style="background-image: url({% static 'img/fondo_1.jpg' %}); background-size: cover; background-attachment: fixed">

<div class="jumbotron text-center" style="background-image: url({% static 'img/panoramica1.jpg' %});margin-bottom:0">
  <h1>BIENVENIDO {{request.user.username}} </h1>
  <p>Gestiona tus permisos de circulación</p> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://127.0.0.1:8000/algo/home">Salir</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:8000/algo/solicitud">Solicitar Permiso</a></li>
        <li><a href="#">Ver estado del permiso</a></li>
        <li><a href="#">Historial</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Mantene actualizados tus datos</h2>
      <a href="{% url 'perfil_form' %}"> <img src="{% static 'img/runner.jpg' %}"style="width: 90%; height: 60%; position: relative; float: left" ></a>
      <p>Ingresa a la imagen de arriba para actualizar tus datos personales. </p>
      <h3>Completa tus datos</h3>
      <p>Links que pueden interesarte.</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="https://www.who.int/es">Organización Mundial de la Salud en Español</a></li>
        <li class="active"><a href="https://www.argentina.gob.ar/ ">Argentina.Gob</a></li>
        <li class="active"><a href="https://chaco.gov.ar/informatorio/">Informatorio Chaco</a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h1>Solicita tu permiso ingresando a la imagen</h1>
      <h5>Ingresá a la imagen para gestionar tu permiso.</h5>
      <a href="http://127.0.0.1:8000/algo/solicitud"> <img src="{% static 'img/logo_1.png' %}"style="width: 90%; height: 60%; position: relative; float: right" > </a>
 
      
      <br>
      
    </div>
  </div>
</div>
{% endblock %}
<div class="jumbotron text-center" style="margin-bottom:0">
  
   <img src="{% static 'img/logo-fut.png' %}"style="width: 45%; height: 30%; position: relative; float: center " > </a>
</div>

</body>
</html>
  </body>
</html>