{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/permisor_masDetalles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'iconos/style.css' %}">
	<!--  -->
	<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
	<!--  -->
	<link rel="icon" href="{% static 'img/logo_2.png' %}" type="image/png" />
	<title>InfoPermisos</title>
</head>
<body style="background-image: url({% static 'img/fondo_1.jpg' %}); background-attachment: fixed; background-repeat: repeat;">
	
<!--================ Start Header Menu Area =================-->
	<header class="header_area">
      <div class="main_menu">
        
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand logo_h" href="{% url 'home' %}"
              ><img  id= "logo_NavBar" src="{% static 'img/logo2.png' %}" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">¿Quienes somos?</a>
                </li>
                
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Permisos</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="blog.html">Salir a correr</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="single-blog.html"
                        >Cruzar el puente</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="single-blog.html"
                        >Visitar a eña</a
                      >
                    </li>

                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Ingresar</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Volver</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    
<!--================ End Header Menu Area =================-->

	<div id="contenedor" class="contenedor">
		<div class="contenido">
			<div class="usuario content">
				<h2 class="usuario label">Usuario:</h2>
				<h2 class="usuario info">Jorge Lopez</h2>
			</div>
			<div class="email content">
				<h2 class="email label">Email:</h2>
				<h2 class="email info">JorgeLopez@mail.com</h2>
			</div>
			<div class="dni content">
				<h2 class="dni label">Dni:</h2>
				<h2 class="dni info">45897621</h2>
			</div>
			<div class="edad content">
				<h2 class="edad label">Edad:</h2>
				<h2 class="edad info">42</h2>
			</div>
			<div class="ciudad content">
				<h2 class="ciudad label">Ciudad:</h2>
				<h2 class="ciudad info">Resistencia</h2>
			</div>
			<div class="empleo content">
				<h2 class="empleo label">Empleo:</h2>
				<h2 class="empleo info">Comerciante</h2>
			</div>
			<div class="isopado content">
				<h2 class="isopado label">Fecha isopado:</h2>
				<h2 class="isopado info">22/09/21</h2>
			</div>
			<div class="tipoPermiso content">
				<h2 class="tipoPermiso label">Permiso:</h2>
				<h2 class="tipoPermiso info">Visita medica</h2>
			</div>
			<div class="enfermedad content">
				<h2 class="enfermedad label">Enfermedades:</h2>
				<h2 class="enfermedad info">deficiencia respiratoria leve</h2>
			</div>
			<div class="detalle content">
				<h2 class="detalle label">Detalle:</h2>
				<h2 class="detalle info"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, sint vero voluptate mollitia. Aliquid vitae, iste molestiae provident sapiente dolores consequatur libero, deleniti sint. Nulla amet laudantium quo, rem iure?
				Nulla, nisi odit iure. Quia est consectetur voluptate at eum explicabo! Quo illo harum nostrum neque ullam sequi provident dolorem est excepturi atque quia enim, possimus dicta vitae optio, nobis.
				Temporibus voluptatum consequatur maxime autem nihil alias consequuntur nulla, eius reprehenderit officia! Quis necessitatibus aliquam consequuntur fugiat minus harum hic sunt, tenetur vitae voluptates tempora culpa cum voluptatum, fugit. Expedita!
				Tempore commodi delectus fugiat autem enim iure cumque perspiciatis. Dolore exercitationem quos odit neque incidunt nihil! Ipsa accusamus ea rerum, tempore non, autem nobis doloremque quod ex, aut magni necessitatibus.
				Nostrum ullam reiciendis animi iure fugit impedit optio provident eius soluta. Quidem vero non impedit laboriosam, cumque ab voluptates corporis, iste consequuntur doloremque rerum quas molestias quisquam perferendis vel laudantium. </h2>
			</div>
			<div class="botones content">
				<button class="btn aceptar">Aceptar</button>
				<button class="btn rechazar">Rechazar</button>
				<input type="text" placeholder="Motivo">
			</div>
		</div>
	</div>

	<script>
		if(screen.height < screen.width){document.getElementById("contenedor").style.height = (screen.height * 0.75) + "px";}
		else{document.getElementById("contenedor").style.height = (screen.height * 0.85) + "px";}
	</script>
</body>

</html>