{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'img/logo_2.png' %}" type="image/png" />
	<title>InfoPermisos</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/permisor_general.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'css/navBar.css' %}"> -->
	<!--  -->
	<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static '/css/style_navBar_Permisor_gral.css' %}" />
	<!--  -->
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body style="background-image: url({% static 'img/fondo_7.jpg' %}); background-attachment: fixed;">

<!--================ Start Header Menu Area =================-->
	<header class="header_area">
      <div class="main_menu">
        
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand logo_h" href="{% url 'home' %}"
              ><img  id= "logo_NavBar" src="{% static 'img/logo2.png' %}" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url '' %}">Revisar permisos</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="">Buscar permisos</a>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Volver</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    
<!--================ End Header Menu Area =================-->
	
	<!-- Contenido de la pagina -->
	<div class="contenido">
		
		<!-- Contenedor de una solicitud de permiso -->	
		<div class="pedidoPermiso">
			<!--
				DETALLE
					Parte del permiso de un permiso en donde el usuario puede detallar 
					la razon del porque necesita el pedido solicitado
			-->
			<div class="detalle">
				<div class="label detalleCont">
					<h2>Detalle</h2>
				</div>
				<div class="content detalleCont">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  
				</div>	
			</div>
			<!-- 
				Informacion
					Parte del permiso en donde se presenta la 
					informacion del usuario y el boton	"Revisar pedido"
			-->
			<div class="informacion">
				<!-- TipoPermiso -->
				<div class="infoContenedor tipoPermiso">
					<h2 class="label">Tipo de permiso:</h2>
					<p class="info">Caminar</p>
				</div>
				<!-- Dni -->
				<div class="infoContenedor dni">
					<h2 class="label">Dni:</h2>
					<p class="info">58639147</p>
				</div>
				<!-- Usuario -->
				<div class="infoContenedor usuario">
					<h2 class="label">Usuario:</h2>
					<p class="info">Raul Nicolas Alvarez Conti</p>
				</div>
				<!-- Boton 
				<div class="boton">
					<button class="btn">Revisar pedido</button>
				</div>-->
			</div>
			<!-- Boton -->	
			<div class="boton">
				<button class="btn">Revisar pedido</button>
			</div>
		</div>

		<!-- Contenedor de una solicitud de permiso -->	
		<div class="pedidoPermiso">
			<!--
				DETALLE
					Parte del contenedor de un permiso en donde el usuario puede detallar 
					la razon del porque necesita el pedido solicitado
			-->
			<div class="detalle">
				<div class="label detalleCont">
					<h2>Detalle</h2>
				</div>
				<div class="content detalleCont">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis, ad nam praesentium obcaecati eveniet soluta vel dolore velit porro ducimus totam incidunt molestiae natus distinctio corrupti neque saepe sint.

				</div>	
			</div>
			<!-- 
				Informacion
					Parte del contenedor en donde se presenta la 
					informacion del usuario y el boton	"Revisar pedido"
			-->
			<div class="informacion">
				<!-- TipoPermiso -->
				<div class="infoContenedor tipoPermiso">
					<h2 class="label">Tipo de permiso:</h2>
					<p class="info">Visita medica</p>
				</div>
				<!-- Dni -->
				<div class="infoContenedor dni">
					<h2 class="label">Dni:</h2>
					<p class="info">98123456</p>
				</div>
				<!-- Usuario -->
				<div class="infoContenedor usuario">
					<h2 class="label">Usuario:</h2>
					<p class="info">Jorge Lucas Altamirano</p>
				</div>
			</div>
			<!-- Boton -->
				<div class="boton">
					<button class="btn">Revisar pedido</button>
				</div>
		</div>
	</div>
	

</body>
<script type="text/javascript" src="{% static 'js/permisor_general.js' %}"></script>

</html>