
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{% static 'img/logo_2.png' %}" type="image/png" />
    <title>Info Permisos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/themify-icons.css' %}" />

    <!-- main css -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <title>Solicitud</title>
</head>
<body style="background-image: url({% static 'img/fondo_2.jpg' %}); background-size: cover; background-attachment: fixed">

<!--================ Start Header Menu Area =================-->
        <header class="header_area">
              <div class="main_menu">
                
                  <div class="container">
                    <form class="d-flex justify-content-between" method="" action="">
                      
                    </form>
                  </div>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container">
                    <a class="navbar-brand logo_h" href="{% url 'home' %}"
                      ><img  id= "logo_NavBar" src="{% static 'img/logo2.png' %}" alt=""
                    /></a>
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="icon-bar"></span> <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <!-- -->
                    <div
                      class="collapse navbar-collapse offset"
                      id="navbarSupportedContent"
                    >
                      <ul class="nav navbar-nav menu_nav ml-auto">
                        <!-- <li class="nav-item active">
                          <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="about-us.html">¿Quienes somos?</a>
                        </li>
                        
                        <li class="nav-item submenu dropdown">
                          <a
                            href="#"
                            class="nav-link dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                            >Permisos</a
                          >
                          <ul class="dropdown-menu">
                            <li class="nav-item">
                              <a class="nav-link" href="blog.html">Salir a correr</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="single-blog.html"
                                >Cruzar el puente</a
                              >
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="single-blog.html"
                                >Visitar a eña</a
                              >
                            </li>

                          </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="contact.html">Ingresar</a>
                        </li> -->
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">Volver</a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </header>
    
<!--================ End Header Menu Area =================-->

<div class="contenedor" >       
                
                    
                        <form > {% csrf_token %}
                            {{form.as_p}}

                          <div class="campos" style=" margin-left: -6.2%"> <!-- Nombre y Apellido-->
                             <label for="full_name_id" class="control-label">Nombre y Apellido</label>
                              <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="Juan Gomez">
                          </div>    
                          <div class="campos" style="margin: 10px; margin-left: -3%;"> <!-- ACA CAMBIAR A INTEGER-->
                              <label for="zip_id" class="control-label"  >DNI</label>
                              <input type="number" class="form-control" id="zip_id" name="zip" maxlength="9" placeholder="#######">
                         </div> 

                          <div class="campos" style="margin: 10px ; margin-left: -4.1%"> <!-- Direccion -->
                              <label for="street1_id" class="control-label">Direccion</label>
                                <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Avenida Siempre Viva 783">
                         </div>                    
                           <div class="campos" style="margin: 10px ; margin-left: -8.3%"> <!-- Tipo de permiso -->
                               <label for="state_id" class="control-label">Tipo de Permiso</label>
                              <select class="form-control" id="state_id">
                                    <option value="CA">Camitana </option>
                                    <option value="CO">Compras</option>
                                    <option value="MD">Mudanza</option>
                                    <option value="VI">Viaje</option>
                               
                                </select>                    
                            </div>                                      
                                                
                            <div class="campos" style="margin: 10px ; margin-left: -4.9%"> <!-- State Button -->
                                <label for="state_id" class="control-label">Provincia</label>
                                <select class="form-control" id="state_id">
                                    <option value="BA">Buenos Aires</option>
                                    <option value="CH">Chaco</option>
                                    <option value="CU">Chubut</option>
                                    <option value="CO">Córdoba</option>
                                    <option value="CR">Corrientes</option>
                                    <option value="ER">Entre Ríos</option>
                                    <option value="FO">Formosa</option>
                                    <option value="JU">Jujuy</option>
                                    <option value="LP">La Pampa</option>
                                    <option value="LR">La Rioja</option>
                                    <option value="MZ">Mendoza</option>
                                    <option value="MI">Misiones</option>
                                    <option value="NE">Neuquén</option>
                                    <option value="RN">Río Negro</option>
                                    <option value="SA">Salta</option>
                                    <option value="SJ">San Juan</option>
                                    <option value="SL">San Luis</option>
                                    <option value="SC">Santa Cruz</option>
                                    <option value="SF">Santa Fe</option>
                                    <option value="SE">Santiago del Estero</option>
                                    <option value="TD">Tierra del Fuego</option>
                                    <option value="TC">Tucumán</option>
                                
                                </select>                    
                            </div>

                            <div class="campos" style="margin: 10px ; margin-left: -3.5%"> <!-- Ciudad-->
                                <label for="city_id" class="control-label">Ciudad</label>
                                <input type="text" class="form-control" id="city_id" name="city" placeholder="Tu Ciudad">
                            </div>   

                            <div class="campos" style="margin: 10px ; margin-left: -3.5%"> <!-- Ciudad-->
                                <label for="city_id" class="control-label">Detalles</label>
                                <input style=" width: 25%; height: 80px "
                                type="text" class="form-control" rows="20" cols="40" maxlength="256" id="dt" name="detalle" <textarea placeholder = "informacion adicional"> </textarea>
                            </div>                    
                        
                            
                            <div class="campos campos2" style="margin: 10px ; margin-left: -2%"> <!-- Solicitud -->
                                <button type="submit" class="btn btn-primary">Solicitar</button>
                                
                            
                                <button type="submit" class="btn btn-primary" style="margin: 10px">
                                <a type="submit" class="btn btn-primary" href="http://127.0.0.1:8000/algo/perfil" >Cancelar</a>
                                </button>
                                
                            </div>     

                        </form>
                     
       
    
</div>




</body>

</html>

<style type="text/css">
  *{
    transition: .3s;
  }

  .contenedor{
            width: 100%;
            height: 500px;
            position: relative;top: 200px; 
            float;
            text-align: center
             font-size: 250%
             
        }
        .formulario_sol{
            width: 100%;
            height: 10%;
            content: "";
            clear: both;
            display: inline


        }
        .campos{
            width: 100%;
            height: 10%;
            float: left;
            text-align: center;
        }
        .campos2{
         
            height: 20%;
        }

        label{
          color: #000;
          font-weight: bolder;
        }

        * input{
          border: .05em solid transparent;
          transition: .5s;
        }

        * input:active{
          border: .05em solid #6666ff;
        }

</style>