
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Solicitud</title>
</head>
<body style="background-image: url({% static 'img/fondo.jpg' %}); background-size: cover; background-attachment: fixed">

<div class="contenedor" >       
                
                    
                        <form > {% csrf_token %}
                            {{form.as_p}}

                          <div class="campos"> <!-- Nombre y Apellido-->
                             <label for="full_name_id" class="control-label">Nombre y Apellido</label>
                              <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="Juan Gomez">
                          </div>    
                          <div class="campos"> <!-- ACA CAMBIAR A INTEGER-->
                              <label for="zip_id" class="control-label">DNI</label>
                              <input type="number" class="form-control" id="zip_id" name="zip" maxlength="9" placeholder="#######">
                         </div> 

                          <div class="campos"> <!-- Direccion -->
                              <label for="street1_id" class="control-label">Direccion</label>
                                <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Avenida Siempre Viva 783">
                         </div>                    
                           <div class="campos"> <!-- Tipo de permiso -->
                               <label for="state_id" class="control-label">Tipo de Permiso</label>
                              <select class="form-control" id="state_id">
                                    <option value="CA">Camitana </option>
                                    <option value="CO">Compras</option>
                                    <option value="MD">Mudanza</option>
                                    <option value="VI">Viaje</option>
                               
                                </select>                    
                            </div>                         
                                           
                                                
                            <div class="formulario"> <!-- State Button -->
                                <label for="state_id" class="control-label">Provincia</label>
                                <select class="form-control" id="state_id">
                                    <option value="BA">Buenos Aires</option>
                                    <option value="CH">Chaco</option>
                                    <option value="CU">Chubut</option>
                                    <option value="CO">Córdoba</option>
                                    <option value="CR">Corrientes</option>
                                    <option value="ER">Entre Ríos</option>
                                    <option value="FO">Formosa</option>
                                    <option value="JU">Jujuy</option>
                                    <option value="LP">La Pampa</option>
                                    <option value="LR">La Rioja</option>
                                    <option value="MZ">Mendoza</option>
                                    <option value="MI">Misiones</option>
                                    <option value="NE">Neuquén</option>
                                    <option value="RN">Río Negro</option>
                                    <option value="SA">Salta</option>
                                    <option value="SJ">San Juan</option>
                                    <option value="SL">San Luis</option>
                                    <option value="SC">Santa Cruz</option>
                                    <option value="SF">Santa Fe</option>
                                    <option value="SE">Santiago del Estero</option>
                                    <option value="TD">Tierra del Fuego</option>
                                    <option value="TC">Tucumán</option>
                                
                                </select>                    
                            </div>

                            <div> <!-- Ciudad-->
                                <label for="city_id" class="control-label">Ciudad</label>
                                <input type="text" class="form-control" id="city_id" name="city" placeholder="Tu Ciudad">
                            </div>                 
                        
                               
                        
                            <div class="formulario" > <!-- Solicitud -->
                                <button type="submit" class="btn btn-primary">Solicitar</button>
                            </div>     
                            <div class="formulario" > <!-- Cancelar -->
                                
                                <a type="submit" class="btn btn-primary" href="http://127.0.0.1:8000/algo/perfil" >Cancelar</a>
                                
                            </div>     

                        </form>
                     
       
    
</div>




</body>

<style>
        .contenedor{
            width: 100%;
            height: 500px;
            position: relative;top: 200px; 
            float;
            text-align: center
             font-size: 250%
             
        }
        .formulario{
            width: 100%;
            height: 10%;
            content: "";
            clear: both;
            display: inline


        }
        .campos{
            width: 100%;
            height: 10%;
            float: left;
            text-align: center


        }
        }
    </style>

</html>

