:root{
	--colorBoton: #565656;
	--colorBotonHover: #767676;
	--colorCrearCuenta: #363636;
	--colocCrearCuentaHover: #767676;
	--colorLetraBtn: #fff;
	--radius: 50px;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	outline: none;
	border: none;
}

body{
	width: 100%;
	height: 100%;
}

.content{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.content .box{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 5%, rgba(255,255,255,0.61) 42%, rgba(241,111,92,0.05) 95%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(5%, rgba(255,255,255,1)), color-stop(42%, rgba(255,255,255,0.61)), color-stop(95%, rgba(241,111,92,0.05)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 5%, rgba(255,255,255,0.61) 42%, rgba(241,111,92,0.05) 95%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 5%, rgba(255,255,255,0.61) 42%, rgba(241,111,92,0.05) 95%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 5%, rgba(255,255,255,0.61) 42%, rgba(241,111,92,0.05) 95%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 5%, rgba(255,255,255,0.61) 42%, rgba(241,111,92,0.05) 95%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f825532', endColorstr='#ffffff', GradientType=0 );
	width: 50%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: center;
}

.content .box .logoContenedor{
	width: 100%;
	height: 40%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.content .box .logoContenedor2{
	width: 80%;
	height: 100%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.content .box .logoContenedor .logo{
	position: relative;
	left: 12.5%;
	width: 75%;
	height: 80%;
}



/*******************************************************************************************************************/

.content .box .formularioContenedor{
	width: 100%;
	height: 60%;
}

.content .box .formularioContenedor form{
	height: 80%;
	width: 100%;
	padding: 2.5% 0 2.5% 0;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.content .box .formularioContenedor form .input-form{
	width: 80%;
	height: 33%;
	margin-top: 2%;
	padding: 1.5% 0% 1.5% 2%;
	font-size: 100%;
	border-radius: var(--radius) var(--radius) var(--radius) var(--radius);
	border: .1em solid transparent;
	transition: .3s;
}

.content .box .formularioContenedor form .submit{
	width: 40%;
	height: 20%;
	background-color: var(--colorBoton);
	margin-top: 5%;
	border-radius: var(--radius) var(--radius) var(--radius) var(--radius);
	font-weight: bolder;
	font-size: 100%;
	color: var(--colorLetraBtn);
	padding: 2% 0;
	letter-spacing: .05em;
	position: relative;
	top: 1%;
	transition: .3s;
}

.content .box .formularioContenedor .crearCuentaContenedor{
	width: 100%;
	height: 20%;
	margin-top: 10%;
	text-align: center;
}

.content .box .formularioContenedor .crearCuentaContenedor .crearCuenta{
	color: var(--colorCrearCuenta);
	background-color: transparent;
	font-size: 120%;
	font-weight: bolder;
	transition: .3s;
}

/*-------------------------------------------------------------------------------------*/

.content .box .formularioContenedor .crearCuentaContenedor .crearCuenta:hover{
	color: var(--colocCrearCuentaHover);
	letter-spacing: .1em;
}

.content .box .formularioContenedor form .submit:hover{
	background-color: var(--colorBotonHover);
	letter-spacing: .1em;
	top: 0%;
}

.content .box .formularioContenedor form .input-form:focus{
	border: .1em solid #ccccff;
}

/*--------------------------------------------------------------------------------------*/
ul.errorlist{
	text-decoration: underline;
	color: #000;
}
.errorlist li{
	font-weight: bolder;
	color: #ff5555;
	font-size: 100%;
	transition: .3s;
}


@media screen and (max-width: 400px){

	.content .box .formularioContenedor form .submit{
		width: 80%;
	}
}


@media screen and (min-width: 250px) and (max-width: 650px){
	.content .box{
		width: 80%;
	}
}
@media screen and (min-width: 400px) and (max-width: 650px){
	.content .box .formularioContenedor form.form{
		font-size: 100%;
	}
	.content .box .formularioContenedor form .submit{
		font-size: 80%;
	}
}
