
/************************************************************************ ELEMENTOS GENERALES Y VARIABLES*/

:root{
    --fondo_1: transparent;
    --fondo_2: #C3E8EE;
    --aprobado: #28a745;
    --rechazado: #dc3545;
    --colorLetra: #212529;
}

*{
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}

/************************************************************************ CONTENIDO DE LA PAGINA*/

.page-wrapper{
    flex-flow: row;
    justify-content: center;
    margin: 5em 0 10em 0;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.page-wrapper .wrapper{
    background-color: var(--fondo_1);
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

} 

.page-wrapper .wrapper .card{
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--fondo_2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    justify-content: center;
    padding: 3% 0% 5% 0%;
    border-radius: 10px;
    text-align: center;
    flex-flow: column;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.page-wrapper .wrapper .card form{
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
}

.page-wrapper .wrapper .card form .form-group{
    margin-top: 2%;
    width: 80%;
}

.page-wrapper .wrapper .card form .form-group label{
    color: var(--colorLetra);
    font-weight: bolder;
    text-align: left;
    line-height: 1.5;
    font-size: 1rem;
}

.page-wrapper .wrapper .card form .form-group .controls{
    width: 100%;

}

.page-wrapper .wrapper .card form .form-group .controls .form-control{
    height: calc(1.5em + .75rem + 2px);
    border: 0 solid transparent;
    border: 0 solid transparent;
    border-radius: .25rem;
    padding-left: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    width: 100%;
}

.page-wrapper .wrapper .card form .form-group .controls .form-control.submited:valid{
    border: .1rem solid var(--aprobado);
}

.page-wrapper .wrapper .card form .form-group .controls .form-control.submited:invalid{
    border: .1rem solid var(--rechazado);
}

.page-wrapper .wrapper .card form .form-group .controls .form-control:focus{
    border: 0 solid transparent;
}

.page-wrapper .wrapper .card form .form-group .controls .selectdatewidget.form-control{
    margin-top: 2%;
}


/************************************************************************ BOTON PARA REGISTRARSE*/

.btnSubmit{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    background-color: #555555;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    transition: 0.3s;
    margin-top: 2%;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em;
    width:80%;
    top: 0;
}

.btnSubmit:hover{
    -webkit-box-shadow: 0px 20px 25px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 20px 25px -4px rgba(0,0,0,0.6);
    box-shadow: 0px 20px 25px -4px rgba(0,0,0,0.6);
    background-color: #444444;
    transition: 0.3s;
    top: -0.2em;
}


/************************************************************************ MEDIAS*/

/*WIDTH*/

@media screen and (max-width: 500px){
    .page-wrapper .wrapper{
        width: 100%;
    } 
}

@media screen and (min-width: 500px){
    .page-wrapper .wrapper{
        width: 90%;
    } 
}

@media screen and (min-width: 500px){
    .page-wrapper .wrapper{
        width: 75%;
    } 
}

@media screen and (min-width: 650px){
    .page-wrapper .wrapper{
        width: 70%;
    } 
}

@media screen and (min-width: 750px){
    .page-wrapper .wrapper{
        width: 60%;
    } 
}

@media screen and (min-width: 900px){
    .page-wrapper .wrapper{
        width: 50%;
    } 
}

@media screen and (min-width: 1080px){
    .page-wrapper .wrapper{
        width: 65%;
    }

    .page-wrapper .wrapper .card form{
        width: 100%;
        justify-content: center;
        text-align: left;
        flex-wrap: wrap;
        display: flex;
        flex-flow: row wrap;
        padding: 0 0% 0 0%;
    }

    .page-wrapper .wrapper .card form .form-group{
        width: 40%;
        margin-left: 2.5%;
        margin-right: 2.5%;

    }

    #div_id_genero{
        margin-right: 0;
        margin-left: 2.5%;
    }

    #div_id_fecha_nac{
        width: 42.5%;
        padding-left: 2.5%;
        margin-top: 1.3%;
        margin-right: 2.5%;
    }


    #div_id_fecha_nac .controls{
        display: flex;
        flex-flow: reverse-row wrap;
        flex-wrap: wrap;
    }

    #div_id_fecha_nac .controls .fecha_nac_year{
        margin-right: 0;
    }

    #div_id_fecha_nac .controls select{
        width: 32%;
        margin-right: .5%;
        margin-left: .5%;
    }

    #div_id_nombre{
        order: 1;
    }
    #div_id_apellido{
        order: 2;
    }
    #div_id_dni{
        order: 3;
    }
    #div_id_username{
        order: 4;
    }
    #div_id_password1{
        order: 5;
    }
    #div_id_password2{
        order: 6;
    }
    #div_id_genero{
        order: 7;
    }
    #div_id_fecha_nac{
        order: 8;
    }
    #boton{
        order: 9;
    }
}

/*HEIGHT*/

@media screen and (max-height: 700px){
    .page-wrapper .wrapper .card form .form-group label{
        font-size: 1rem;
    }
    .page-wrapper .wrapper .card form .form-group .controls .form-control{
        font-size: 1rem;
    } 

}

@media screen and (min-height: 700px){
    .page-wrapper .wrapper .card form .form-group label{
        font-size: 1rem;
    }
    .page-wrapper .wrapper .card form .form-group .controls .form-control{
        font-size: 1.5rem;
    } 

}

@media screen and (min-height: 1000px){
    .page-wrapper .wrapper .card form .form-group label{
        font-size: 2rem;
    }
    .page-wrapper .wrapper .card form .form-group .controls .form-control{
        font-size: 2rem;
    } 

}